<h2 class="mat-h2">Workshop Types</h2>
<div class="workshop-types" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row"  fxLayoutGap="1rem" fxLayoutAlign="space-around center">
  <mat-card fxFlex="" role="group">
    <mat-card-title>
      <h2>Structured Workshops</h2>
    </mat-card-title>
    <mat-card-content>
      <p>
        Our structured workshops are our ideal choice when we can have a classroom like setting for a workshop.
        One of our lead volunteers leads groups through building one of our robots.
        Typically, students work in groups of 2-4 together on communication skills, building a robot, and programming their robot.
        Additional volunteers walk around assisting individual groups with any problems they face and to talk to individuals about their interests.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="" role="group">
    <mat-card-title>
      <h2>Unstructured Workshops</h2>
    </mat-card-title>
    <mat-card-content>
      <p>
        We also have unstructured workshops available as not every workshop is ideal for structured workshops.
        In our unstructured workshops, we pair one of our volunteers with an individual or small group (1 volunteer to 1-3 students).
        This allows our volunteers to give individualized instruction and to cater the lesson to individuals of different ages and levels of experience.
      </p>
    </mat-card-content>
  </mat-card>
</div>
<h2 class="mat-h2">Current Lessons</h2>
<div class="lessons" fxLayout="column" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap="1rem" fxLayoutAlign="space-around center">
  <h3 class="mat-h3">Build Lessons</h3>
  <mat-card class="lesson" fxFlex="" role="group">
    <mat-card-title>
      <h3>Basic Bot</h3>
    </mat-card-title>
    <mat-card-content>
      <figure>
        <img alt="A robot with two rear wheels and one front wheel" src="/assets/basic-bot.jpg" class="card-image">
        <figcaption>A LEGO Mindstorms EV3 Robot with two rear wheels and one front wheel</figcaption>
      </figure>
      <p id="basic-bot-text">
        This is an effective introductory bot for new students.
        We use this as a project for younger students as well as a programming bot for older students and is also used as the base for more complex bots.
        Some of our programming lessons involve basic navigation, autonomous navigation, light detection, and more.

        In extended lessons, we can also discuss design choices, stability, ability to turn, and potential improvements.
        Additionally, students are given the opportunity to personalize their robot.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://docs.google.com/document/d/1LCkkX52eThLlRQ3tt-FOQqNr93VZtw_I6NoaJY7EsBE/edit?usp=sharing" target="_blank">Build Instructions</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="lesson" fxFlex="" role="group">
    <mat-card-title>
      <h3>Transport Bot</h3>
    </mat-card-title>
    <mat-card-content>
      <figure>
        <img alt="A bot similar to the basic bot, but with a carriage in the rear on which it can hall materials" src="/assets/transport-bot.jpg" class="card-image">
        <figcaption>A LEGO Mindstorms EV3 Robot capable of transporting small materials</figcaption>
      </figure>
      <p id="transport-bot-text">
        We use this bot similarly to the basic bot. Many of the programming lessons apply to it as well, but this robot is also built to hall materials around in its carriage.
        This bot can move in all directions and can carry around small items such as candy and trinkets.
        This bot uses the BasicBot as its core build.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://docs.google.com/document/d/1Ka4rAmP3JJzS1gI4mkXfpFlJLmE6w_c3vdszidR_d7c/edit?usp=sharing" target="_blank">Build Instructions</a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <h3>Sumo Bot</h3>
    </mat-card-title>
    <mat-card-content>
      <figure>
        <img alt="A robot with infrared sensors and a ramp which is used to push other robots" src="/assets/sumo-bot.jpg" class="card-image">
        <figcaption>A LEGO Mindstorms EV3 Robot designed to push others</figcaption>
      </figure>
      <p id="sumo-bot-text">
        This is a lesson where students take their existing bot and modify it to push other robots.
        Students use what they have learned in other lessons to create addons to their bot and attach it to the bot so that their bot can push other bots out from the sumo ring.
        This is a fun twist to our other builds where students can play while learning about robotics.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://docs.google.com/document/d/1M5T3rACna1Dd4rKmGXtGrc3Sm8cGgh2zhSaw5b_hDYE/edit" target="_blank">Activity Instructions</a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <h3>Speak and Do</h3>
    </mat-card-title>
    <mat-card-content>
      <p id="speak-and-do-text">
        Students learn to work on their communication skills while building a robot. One participant is the architect while the other participant is the builder.
        The architect is only allowed to look at the instructions, they are not allowed to touch the robot or pieces.
        The builder is only allowed to touch the pieces, they are not allowed to look at the instructions or pictures.
        They must work together in order to build a complete robot.
      </p>
    </mat-card-content>
  </mat-card>
  <!-- <mat-card class="lesson" fxFlex="" role="group">
    <mat-card-title>
      <h3>Four Wheeler Bot</h3>
    </mat-card-title>
    <mat-card-content>
      <p id="four-wheeler-text">
        This is a more complex robot with four wheels.
        It is made to be easily extensible.
        Like the basic bot, it can be used as a project for younger students, as a programming bot for older students, and as the base for more complex bots.
        This is best suited for longer workshops where students will have time to build the bot and explore extending it themselves or in one of our other lessons.
        Extensions could involve additional sensors or aesthetic changes.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://docs.google.com/document/d/1rTRDBmf5lboDkDu0RgoRA-thTSCBNz3uShpe7iu9Rfo/edit?usp=sharing" target="_blank">Build Instructions</a>
    </mat-card-actions>
  </mat-card> -->
  <h3 class="mat-h3">Programming Lessons</h3>
  <mat-card class="lesson" fxFlex="" role="group">
    <mat-card-title>
      <h3>Making Smores</h3>
    </mat-card-title>
    <mat-card-content>
      <figure>
        <img alt="A smore" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/HersheySmore.jpg/2560px-HersheySmore.jpg" class="card-image">
        <figcaption>Credit Wikipedia for image of Smores</figcaption>
      </figure>
      <p id="smores-text">
        In this lesson, we introduce students to algorithmic thinking and other introductory computer science concepts.
        A volunteer has all of the required parts to create smores out on the table, and asks the students to tell them how to make smores.
        The volunteer then follows the steps from the students <strong>exactly</strong> as described.
        If a student tells our volunteer to "put the chocolate on the graham cracker" the volunteer will place the container of chocolate spread on top of the graham crackers.
        Students will be guided to give very exact instructions, just as computers must be given.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://docs.google.com/document/d/1CjG8MQfYuR3PWyvJcUZByU7JzUYX7O0jERsO2VLQDkI/edit?usp=sharing" target="_blank">Programming Lesson</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="lesson" fxFlex="" role="group">
    <mat-card-title>
      <h3>Smart Paper</h3>
    </mat-card-title>
    <mat-card-content>
      <figure>
          <img alt="A diagram showing the optimal way to play tic-tac-toe" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Tictactoe-X.svg/2560px-Tictactoe-X.svg.png" class="card-image">
          <figcaption>Credit Wikipedia for image of tic-tac-toe strategy</figcaption>
      </figure>
      <p id="tic-tac-toe-text">
        This is a lesson to show students how algorithms work in practice, but still without touching a computer.
        This was created by Paul Curzon of Queen Mary University of London.
        Our volunteer announces that they have a highly intelligent piece of paper. This piece of paper is undefeated in tic-tac-toe.
        It was always win or tie. Students attempt to defeat the paper, but are unable to.
        The volunteer can then project or pass around the piece of paper, revealing that the set of steps that cannot be defeated.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://drive.google.com/file/d/0B9J_8ozTUxdOUzRUUWlrLUFYUFU/view" target="_blank">Programming Lesson</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="lesson" fxFlex="" role="group">
    <mat-card-title>
      <h3>Basic Motion</h3>
    </mat-card-title>
    <mat-card-content>
      <figure>
        <img alt="An EV3 program moving the motors in different ways" src="/assets/basic-motion.png" class="card-image">
        <figcaption>Basic Motion EV3 program on iPad</figcaption>
      </figure>
      <p id="basic-motion-text">
        This is an introductory programming lesson to show students the basics of how simple algorithms can make the robot move.
        Much like simply pressing buttons on the remote, the lesson accomplishes motion without sensors or loops by sending move commands in a variety of directions.
        Students can also see how the programming language allows you to tune the motion much more finely, allowing for different speeds, steering, and more than two motors.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://docs.google.com/document/d/1B0YeIB0Hza-9xBdNo-JUp6JS4YkYrXWh957_HWAWET0/edit" target="_blank">Programming Lesson</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="lesson" fxFlex="" role="group">
    <mat-card-title>
      <h3>Colors</h3>
    </mat-card-title>
    <mat-card-content>
      <figure>
        <img alt="A traffic light" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Modern_British_LED_Traffic_Light.jpg/1920px-Modern_British_LED_Traffic_Light.jpg" class="card-image">
        <figcaption>Credit Wikipedia for image of traffic light</figcaption>
      </figure>
      <p id="colors-text">
        We use this introductory programming lesson to introduce students to sensors. This can be related to real life scenarios, such as traffic lights.
        Students are taught the basics of how a color sensor works, connect the color sensor to their bot, and learn how to make the robot move until the saensor picks up a certain color.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://docs.google.com/document/d/1hKzZjP1A3khfXRCyd8DgIk79myX0ZEilxQWvEOTwN80/edit" target="_blank">Programming Lesson</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="lesson" fxFlex="" role="group">
    <mat-card-title>
      <h3>Lights</h3>
    </mat-card-title>
    <mat-card-content>
      <figure>
        <img alt="A light switch" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Toggleswitch.PNG" class="card-image">
        <figcaption>Credit wikipedia for image of lightswitch</figcaption>
      </figure>
      <p id="lights-text">
        This is another introductory programming lesson showing students the basics of sensors. Students see how a color sensor can also be used to detect the intensity of a light.
        This can be related to real life scenarios, such as light nights that only turn on when it is dark in order to save energy. In this lesson, students create a bot that only moves when there is light shining on it.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://docs.google.com/document/d/1rwAsitm4PXIn2ylSvaYGVOzSBKF5RMhbo8Ry8HKnuFM/edit" target="_blank">Programming Lesson</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="lesson" fxFlex="" role="group">
    <mat-card-title>
      <h3>Autonomous Motion</h3>
    </mat-card-title>
    <mat-card-content>
      <figure>
        <img alt="A roomba" src="https://upload.wikimedia.org/wikipedia/commons/2/27/%D0%A0%D0%BE%D0%B1%D0%BE%D1%82_%D0%BF%D1%8B%D0%BB%D0%B5%D1%81%D0%BE%D1%81_Roomba_780.jpg" class="card-image">
        <figcaption>Credit Wikipedia for image of Roomba, Robotic Vaccum</figcaption>
      </figure>
      <p>
        Students combine sensors, loops, and conditionals in order to make a bot that is able to navigate around a room on its own.
        This can be related to a robotic vacuum that makes its way around the room vacuuming debris. The bot moves forward until it is near an obstacle, then backs up and turns slightly.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://docs.google.com/document/d/16NZjDZD-x0dJc0lZgTJXDeRdaeaE0OKkmscG9JeA3Pw/edit" target="_blank">Programming Lesson</a>
    </mat-card-actions>
  </mat-card>
</div>