<h2 class="mat-h2">Workshop Types</h2>
<div class="curriculum-page" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column"  fxLayoutGap="1rem" fxLayoutAlign="space-around center">
  <mat-card fxFlex="" role="group">
    <mat-card-title>
      <h2>Structured Workshops</h2>
    </mat-card-title>
    <mat-card-content>
      <p>Our structured workshops are our ideal choice when we can have a classroom like setting for a workshop. In this, a lead volunteer leads groups through building one of our robots. Typically, students work in groups of 2-4 together on communication skills, building a robot, and programming their robot. Additional volunteers walk around assisting individual groups with any problems they face.</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="" role="group">
    <mat-card-title>
      <h2>Unstructured Workshops</h2>
    </mat-card-title>
    <mat-card-content>
      <p>We also have unstructured workshops available as not every workshop is ideal for structured workshops. Unstructured workshops pair one of our volunteers with an individual or small group (1 volunteer to 1-3 students). This allows our volunteers to give individualized instruction and to cater the lesson to individuals of different ages and levels of experience.</p>
    </mat-card-content>
  </mat-card>
</div>
<h2 class="mat-h2">Current Lessons</h2>
<div class="lessons" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap="1rem" fxLayoutAlign="space-around center">
  <mat-card class="lesson" fxFlex="" role="group">
    <mat-card-title>
      <h3>Basic Bot</h3>
    </mat-card-title>
    <mat-card-content>
      <p>
        This is an effective introductory bot for new students. Use as a project for younger students, use as a programming bot for older students; also used as the base for more complex bots.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://docs.google.com/document/d/1LCkkX52eThLlRQ3tt-FOQqNr93VZtw_I6NoaJY7EsBE/edit?usp=sharing" mat-button>Build Instructions</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="lesson" fxFlex="" role="group">
    <mat-card-title>
      <h3>Transport Bot</h3>
    </mat-card-title>
    <mat-card-content>
      <p>
        This is a good second robot to build. This bot can move in all directions and can carry around small items such as candy and trinkets. This bot uses the BasicBot as its core build. Make sure you have built the BasicBot BEFORE building the TransportBot.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://docs.google.com/document/d/1Ka4rAmP3JJzS1gI4mkXfpFlJLmE6w_c3vdszidR_d7c/edit?usp=sharing" mat-button>Build Instructions</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="lesson" fxFlex="" role="group">
    <mat-card-title>
      <h3>Four Wheeler Bot</h3>
    </mat-card-title>
    <mat-card-content>
      <p>
        This is a more complex robot with four wheels. It is made to be easily extensible. Use as a project for younger students, use as a programming bot for older students, also used as the base for more complex bots. 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://docs.google.com/document/d/1rTRDBmf5lboDkDu0RgoRA-thTSCBNz3uShpe7iu9Rfo/edit?usp=sharing" mat-button>Build Instructions</a>
    </mat-card-actions>
  </mat-card>
</div>