h1 {
    margin: auto;
}
img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

nav {
    margin: auto;
}

a {
    opacity: 1;
    font-size: 24px;
}

.logo {
  margin:auto;
  height:100%;
  z-index: 1;
}

mat-toolbar, mat-toolbar-row, nav, .mat-tab-links, .mat-tab-link {
    height: 5rem;
}

.mat-tab-link {
    margin-top: .5rem;
    height: 4rem;
    margin-bottom: .5rem;
}

.mat-tab-link > span {
    font-size: 24px;
}

@import '~@angular/material/theming';

@mixin header-theme($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    
    mat-toolbar {
        color: mat-color($accent);
    }
}