h1 {
    margin: auto;
}
img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

nav {
    margin: auto;
}

a {
    opacity: 1;
    font-size: 24px;
}

.logo {
  margin:auto;
  height:100%;
  z-index: 1;
}

.banner-row {
    height: 8rem;
}