<div class="contact-page" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column"  fxLayoutGap="1rem" fxLayoutAlign="space-around center">
  <mat-card fxFlex="" role="group">
    <mat-card-title>
      <h2>Contact Us</h2>
    </mat-card-title>
    <mat-card-content>
      <p>To ask a general question, email example@engineeringopportunity.org</p>
      <p>If you'd like more information about volunteering with us, please contact our Volunteer Coordinator, Kendra Klemann, at krkleman@ncsu.edu.</p>
      <p>If you're a community organization or nonprofit that works with children between the ages of 8-18 and is interested in working with us, please contact our Partner Coordinator, Lauren Siegel, at lcsiegel@ncsu.edu.</p>
    </mat-card-content>
  </mat-card>
</div>