<div class="contact-page" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column"  fxLayoutGap="1rem" fxLayoutAlign="space-around center">
  <mat-card fxFlex="" role="group">
    <mat-card-title>
      <h2>Contact Us</h2>
    </mat-card-title>
    <mat-card-content>
      <p>If you'd like more information about volunteering with us, please fill out our <a href="https://forms.gle/6jSF9a2cij26VDf4A">volunteer interest form</a>.</p>
      <p>If you're involved with a community organization or nonprofit that works with children between the ages of 8-18 that would be interested in working with us, please contact our Partner Coordinator via <a href="#">partner interest form</a>.</p>
    </mat-card-content>
  </mat-card>
</div>