<div class="contact-page" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column"  fxLayoutGap="1rem" fxLayoutAlign="space-around center">
  <mat-card fxFlex="" role="group">
    <mat-card-title>
      <h2> Volunteer With Us! </h2>
    </mat-card-title>
    <mat-card-content>
      <div>
        <p> Do you enjoy working with kids and teens? Do you care about STEM enrichment opportunities? Come join us!</p>
        <p> As a volunteer, you'll have the opportunity to facilitate workshops at any of our partner organizations, gain a deeper understanding of engineering fundamentals, improve communication & teaching skills, and attend monthly volunteer outings & a bi-annual volunteer celebration. </p>
        <p> All volunteers are required to attend a 90 minute training session before volunteering with us, and no technical experience is required! If you'd like more information about volunteering, please fill out our <a href="https://forms.gle/6jSF9a2cij26VDf4A">volunteer interest form</a> and our Volunteer Coordinator will be in touch with you shortly.</p>
      </div>
      <mat-card-title>
        <h2> Partner With Us! </h2>
      </mat-card-title>
      <div>
        <p> We work with each partner organization to create a workshop structure and curriculum that works for them. All materials are supplied by us, and we can host workshops in any indoor space hosted by the partner organization.</p>
        <p>If you're involved with a community organization or nonprofit that works with children between the ages of 8-18 that would be interested in working with us, please contact our Partner Coordinator, Sol Khaitas (skhaita@ncsu.edu). </p>
      </div>
      <mat-card-title>
        <h2> Leadership & Advisory Opportunities </h2>
      </mat-card-title>
      <div>
        <p> If you are interested in learning more about or serving on our Board of Directors or Leadership Team, please contact Lauren Siegel (lcsiegel@ncsu.edu) .</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
