<div *ngIf="isDesktop; else mobile">
    <app-header></app-header>
    <router-outlet role="main"></router-outlet>
</div>

<ng-template #mobile>
    <app-mobile-header (toggleSidebar)="toggleSidebar()"></app-mobile-header>
    <mat-sidenav-container>
        <mat-sidenav autoFocus="true" mode="over" [opened]="sidebarOpen">
            <app-mobile-sidebar (toggleSidebar)="toggleSidebar()"></app-mobile-sidebar>
        </mat-sidenav>
        <mat-sidenav-content role="main">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-template>