<div class="about-page" fxLayout="column" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column"  fxLayoutGap="1rem" fxLayoutAlign="space-around center">
    <mat-card fxFlex="" role="group">
      <mat-card-title>
        <h2>What We Do</h2>
      </mat-card-title>
      <mat-card-content>
        <p>
          Engineering Opportunity is a nonprofit that facilitates STEAM-focused robotics workshops for youth ages 8-18 in the Raleigh area.
          Engineering Opportunity aims to reduce the transportation, financial, and accessibility barriers that affect many students' participation in educational enrichment activities.
          We have created specialized lesson plans, provide workshops free of charge, include accessible components, and which cater to a variety of learning styles.
          We partner with a variety community organizations in order to further our goals and to provide locations for us to give our workshops to those who need it most.
        </p>
      </mat-card-content>
    </mat-card>
  <mat-card fxFlex="" role="group">
    <mat-card-title>
      <h2>How We Started</h2>
    </mat-card-title>
    <mat-card-content>
      <p>
        Our founders were fortunate enough to be exposed to fun STEAM (Science, Technology, Engineering, Arts, and Mathematics) activities throughout their education and they had the resources to attend after school clubs and competitions.
        This helped them discover their passions and guide their educational choices. 
        However, not everyone is fortunate enough to be exposed to STEAM activities. 
        These activities cost school systems money, and often these programs are cut when budgets come under scrutiny. 
        Additionally, transportation is often a barrier, as not everyone is able to get a ride home from school if they attend an after school club or activity instead of getting on the bus.
        Our founders created this organization with this in mind, creating a STEAM organization dedicated to equal access to our workshops and to reduce all barriers possible.
        We did our first workshop in 2016 at Family Promise, they're still one of our main community partners today.
        Other community members heard about what we were doing, wanted to be part of it, and in response we started the organization.
        We strive to promote equity and accessibility in education through our workshops.
      </p>
    </mat-card-content>
  </mat-card>

  
  <!-- <mat-card fxFlex="" role="group">
    <mat-card-title>
      <h2>Exec Board</h2>
    </mat-card-title>
    <mat-card-content>
      <p>We are currently forming our executive board. Our current board members include a former STEM Education teacher who taught at a title 1 school, [...].

        If you are interested in joining our board and feel you are qualified, please reach out to us.
      </p>
    </mat-card-content>
  </mat-card> -->
</div>