<div class="about-page" fxLayout="column" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column"  fxLayoutGap="1rem" fxLayoutAlign="space-around center">
    <mat-card fxFlex="" role="group">
      <mat-card-title>
        <h2>What We Do</h2>
      </mat-card-title>
      <mat-card-content>
        <div>
          Engineering Opportunity is a 501(c)3 nonprofit that facilitates STEM-focused LEGO robotics workshops for youth ages 8-18 in the Raleigh area and strives to address some of the accessibility barriers that affect many students' participation in educational enrichment activities by:
          <ul>
             <li> Providing workshops free of charge </li>
             <li> Using specialized lesson plans & accessible materials </li>
             <li> Working with community organizations to reduce additional transportation needs & costs </li>
          </ul>
          We partner with a variety of local organizations to bring these workshops to different communities in the Raleigh area. Currently, we run workshops at Family Promise, Haven House, Garner Road Community Center, and the Boys & Girls Club.
          </div>
          <br>
          <div>
            Our curriculum covers fundamental engineering design, introductory computer science, building different types of LEGO Mindstorms robots, programming with LEGO Programmer, and technical communication skills.
            We're always developing new lesson plans and workshops, and we always work with our partners to develop lesson plans and workshop structures that are tailored to their needs. Our current capacity is 15 students per workshop.
          </div>
      </mat-card-content>
    </mat-card>
  <mat-card fxFlex="" role="group">
    <mat-card-title>
      <h2>How We Started</h2>
    </mat-card-title>
    <mat-card-content>
      <p>
        In 2016, co-founder Kendra Klemann started volunteering at Family Promise, an emergency shelter for families. The LEGO robotics kits she brought with her had so much interest, that she started pulling in others to volunteer with her.
        The volunteer group started to write specialized curriculua and facilitate workshops weekly at Family Promsie to keep up with the interest from both kids & teens.
        Eventually, other community organizations heard about what we were doing, wanted to be part of it, and in response we started Engineering Opportunity.
        We strive to promote equity and accessibility in education through our workshops.
      </p>
    </mat-card-content>
  </mat-card>


<mat-card fxFlex="" role="group">
    <mat-card-title>
      <h2>Leadership Team</h2>
    </mat-card-title>
    <mat-card-content>
      <p>
        Kendra Klemann: Co-Founder & Volunteer Coordinator
      </p>
      <p>
        Lauren Siegel: Co-Founder
      </p>
      <p>
        Sol Khaitas: Assistant Director & Partner Cordinator
      </p>
      <p>
        Selene Schmittling: Curriculum Director
      </p>
      <p>
        Morgan Pyrtle: Financial Director
      </p>
      <p>
        Hayden Lawrence: Web Coordinator
      </p>
    </mat-card-content>
  </mat-card>

<mat-card fxFlex="" role="group">
    <mat-card-title>
      <h2>Board of Directors </h2>
    </mat-card-title>
    <mat-card-content>
      <p>
        Kendra Klemann: President
      </p>
      <p>
        Hayden Lawrence: Board Member
      </p>
      <p>
        Brandon Whittington: Board Member
      </p>
      <p>
        Geneva Klemann: Board Member
      </p>
    </mat-card-content>
  </mat-card>
</div>
