<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column"  fxLayoutGap=".5rem" fxLayoutAlign="space-around center">
  <mat-card fxFlex="" role="group">
    <img src="../assets/basic-bot-original.jpg" alt="A basic lego EV3 robot">
  </mat-card>
  <mat-card fxFlex="" role="group">
    <img src="../assets/gathered-parts.JPG" alt="An assortment of EV3 pieces used to assemble a robot">
  </mat-card>
  <mat-card fxFlex="" role="group">
    <img src="../assets/custom-basic-bot.jpg" alt="A customized version of one of our robots using a sensor for eyes, and swords for decoration">
  </mat-card>
  <mat-card fxFlex="" role="group">
    <img src="../assets/simple-program2.png" alt="A simple program that turns motors and plays the sound 'Mindstorms'">
  </mat-card>
</div>
<div fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card>
    <mat-card-title>
      <h2></h2>
    </mat-card-title>
    <mat-card-content>
      <p>
        Facilitating LEGO robotics & conceptual STEM workshops with a focus on accessibility through:
        * community partnerships
        * specialized curriculua
        * dedicated volunteers
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <h2></h2>
    </mat-card-title>
    <mat-card-content>
      <p>
                We currently work with children & teens ages 8-18 in the Raleigh area.
                <br>
        Please visit **this portion of our site** if you're interested in working with us!
      </p>
    </mat-card-content>
  </mat-card>
</div>
