/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

body {
    margin: 0;
    // background: #313131;
    min-height: 100vh;
    
}

* {
    box-sizing: border-box;
}


mat-card {
    margin: 1rem;
    width: calc(100% - 2rem);
}

@media only screen and (min-width: 800px) {
    mat-card {
        margin-left: 12rem;
        margin-right: 12rem;
        width: calc(100% - 24rem);
    }
}

.mat-card-content {
    font-size: 16px;
}

// @import '~@angular/material/theming';
// @include mat-core();


// $dark-primary: mat-palette($mat-grey);
// $dark-accent: mat-palette($mat-blue-grey);
// $dark-warn: mat-palette($mat-amber);
// $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
// @include angular-material-theme($dark-theme);